/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */


/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
  font-family: var(--font-sans-serif);
}

h1 {
 font-family: var(--font-bold) ;
}


/* Les règles typographiques générales des titres */

/* permet d'annuler la mise en forme des boutons qu'applique le navigateur. */
button {
  appearance: none;
  border: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background: none;
  background-color:#ffffff;
  padding: 8;
  cursor: pointer;
  font-weight: bold;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color : white;
  background-color:black;
  text-decoration: none;

  background-attachment:fixed;
  background-repeat:no-repeat;
  
}
.menu {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background: rgb(0, 0, 0);;
  display: grid;
  place-content: center;
}
.header_menuBtn {
  position:relative;
  z-index: 10;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}

/*box-sizing: border-box;/*
