:root {
  /* fonts */
  --font-bold: 'OPTIEdgarBold-Extended';
  --font-sans-serif: 'Jura';

  /* Color styles */
  --purple: rgba(169, 125, 250, 1);
  --blue: rgba(30, 40, 217, 1);
  --green: rgba(55, 219, 144, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  /* Text-size styles */

  --title: 1rem;
  --pagetitle: 0.720rem;
  --h1: 0.813rem;
  --h2: 1rem;
  --h3: 1rem;
  --body: 0.875rem;
  --legend: 0.75rem;
  --small-text: 0.75rem;
  --footer: 0.625rem;
  --form: 0.938rem;
  --button: 0.625rem;
  --menu: 1.25rem;
  --menu2: 0.625rem;

  /* Font weight */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}