:root {
  /* fonts */
  --font-bold: 'OPTIEdgarBold-Extended';
  --font-sans-serif: 'Jura';

  /* font sizes à mettre en REM et vérfier sur maquette*/
  --footer-size: 10px;
  --font-size-xs: 11.52px;
  --h1-size: 13px;
  --body-1-size: 14px;
  --h2-size: 16px;

  /* Colors */
  --black: #000;
  --purple: #a97dfa;
  --white: #fff;
  --green: #37db90;

  /* Gaps */
  --gap-md: 5px;

  /* Paddings */
  --padding-4xs: 2px;
  --padding-3xs: 3px;
  --padding-2xs: 4.84567928314209px;
  --padding-xs: 5px;
  --padding-sm: 9.69135856628418px;
  --padding-md: 10px;
  --padding-lg: 14px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-3xl: 25px;
  --padding-4xl: 27px;

  /* border radiuses */
  --br-s: 2px;
  --br-m: 2.42px;
  --br-l: 25px;
}
