:root {
  /* fonts */
  --font-bold: 'OPTIEdgarBold-Extended';
  --font-sans-serif: 'Jura';

  /* Color styles */
  --purple: rgba(169, 125, 250, 1);
  --blue: rgba(30, 40, 217, 1);
  --green: rgba(55, 219, 144, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  /* Text-size styles */
  /* base size: body (14px) */
  --title: 1.14rem;
  --pagetitle:0.5rem;
  --h1: 0.93rem;
  --h2: 1.14rem;
  --h3: 1.14rem;
  --body: 1rem;
  --legend: 0.86rem;
  --small-text: 0.86rem;
  --footer: 0.71rem;
  --form: 1.07rem;
  --button: 0.71rem;
}