.header {
    background-color: rgb(93, 14, 158);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: var(--space2x) var(--space3x);
  }
  
  .header__logo {
    display: block;
  }
  
  .header__end {
    display: flex;
    gap: var(--space2x);
  }