.header {
  background-color: var(--black);
  height: 120px;

}

.header__items {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--white);

}

.header__menubtn {
  margin: 30px 10px 5px;
}

.header__logo {
  margin: 30px 20px 5px;
}

.header__iconsb {
  margin: 30px 20px 5px;
}

.header__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__maintitle {
  font-size: var(--title);
  font-family: var(--font-bold);
  text-decoration: none;
  color: var(--black);
  background-color: var(--purple);
  border-radius: 0px 25px 25px 0px;
  padding: 5px;
  z-index: 1;
}

.header__pagetitle {
  margin: 0;
  font-size: var(--pagetitle);
  font-family: var(--font-bold);
  color: var(--purple);
  background-color: var(--black);
  padding: 8px;
  z-index: 0;
  width: 100%;
  text-align: right;
  position: absolute;

}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  ;
  display: grid;
  place-content: center;
  z-index: 2;
}

.menu__list {}

.menu__item {}

.menu__item--inactive {}

.menu_list2 {}

.menu_item2 {}

.menu__language {}

.noscroll,
.noscroll body {
  overflow: hidden;
}