.header {


}
.header__items {
  display: flex;
  justify-content: space-between;

}
.header__menubtn {
  margin-bottom: 10px;
margin-top: 20px;
margin-inline: 10px;
}

.header__logo {
margin-top: 15px;
  
  
}

.header__flex {
display: flex;
flex-direction: row;
align-items: center;
  

}

.header__maintitle {
  font-size: var(--title);
 font-family: var(--font-bold);
 text-decoration: none;
 color: var(--black);
 background-color: var(--purple);
 border-radius: 0px 25px 25px 0px;
 padding: 5px;
}

.header__pagetitle {
  right: 0px;
  font-size: var(--pagetitle);
  font-family: var(--font-bold);
  color: var(--black);
  background-color: var(--white);
  padding: 8px;
  z-index: -1;

position: absolute;
}

.header__iconsb {
margin: 20px;

}

.menu {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background: rgb(0, 0, 0);;
  display: grid;
  place-content: center;}

.menu__list {}

.menu__item {}

.menu__item--inactive {}

.menu_list2 {}

.menu_item2 {}

.menu__language {}

.noscroll,
.noscroll body {
  overflow: hidden;
}
