.about {
    margin: 30px 10%;
}

.about__visual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.about__visual__text {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.about__visual__img {
    width: 50%;
    margin: 0;
}

.about__quote {
    color: var(--green);
    font-weight: var(--semi-bold);
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.about__quote-caption {
    font-weight: var(--semi-bold);
    font-size: 0.625rem;
}

.about__text {
    margin-bottom: 1rem;
    text-indent: 1em;
}

.about__gradient {
    background-image:linear-gradient(to bottom, var(--black), #222222);
    border-radius: 15px;
    padding: 0 3%;
    padding-bottom: 1rem;
}