.articlecards {
    
}

.articlecards__title {
    font-family: var(--font-bold);
    font-size: var(--pagetitle);
    text-align: right;
    padding: 5px;
    color: var(--black);
    background-color: var(--white);

}
.articlecards__block {
    margin-left: 5%;

}

.articlecards__text {
    margin-top: -5px;
    margin-bottom: 25px;
    background-color: var(--black);
    padding: 10px;
    padding-left: 75px;   
    margin-left: 15%;
    height: 120px;
}



.articlecards img {
    width: 120px;
    border-radius: 50%;
    float: left;
}

