.visual {
    width: 95%;
    margin-top: 30px;
    margin-left: 5%;
}

.visual__img {
    border-radius: 15% 0% 0% 15%;
    margin-bottom: 5px;
}

.visual__reading-time {
    font-size: var(--small-text);
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    margin: 10px;
}

.article {
    margin: 30px;
}

.article__main-title {
    color: var(--green);
    line-height: 2;
    margin-bottom: 2rem;
}

.article__text {
    margin-bottom: 1em;
    text-indent: 1em;
}

figure {
    margin: 30px 0px;
}

.article__img {
    border-radius: 15px;
    margin-bottom: 5px;
}

.article__legend {
    font-size: var(--legend);
    font-weight: var(--light);
    text-align: center;
}

.article__title-h2,
.article__title-h3 {
    margin-bottom: 1rem;
}


.article__quote {
    display: block;
    font-size: var(--small-text);
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
}

.article__blockquote {
    margin-bottom: 1em;
    text-indent: 1em;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content:close-quote;
}

.bottom-line {
    border-top: 1px solid var(--white);
    margin: 50px 25px;
    display: flex;
    justify-content: space-between;
}

.share {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.share__text {
    font-family: var(--font-bold);
    font-size: var(--button);

}

.scroll-top {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 50px;
}

.scroll-top__img {
    width: 30px;
}