.articlecard {
    margin: 75px 0px;
}

.articlecard__title {
    height: 35px;
    font-family: var(--font-bold);
    font-size: var(--pagetitle);
    text-align: right;
    padding: 5px;
    padding-right: 15px;
    color: var(--black);
    background-color: var(--white);

}
.articlecard__block {
    margin-left: 5%;

}

.articlecard__text {
    margin: -10px 0px 25px 16%;
    background-color: var(--black);
    padding: 10px;
    padding-left: 75px;   
    height: 120px;
}



.articlecard img {
    width: 120px;
    border-radius: 50%;
    float: left;
}

.articlecard__button{
    display: flex;
    text-align: center;
    gap: 5px;
    max-width:fit-content;
    background-color: var(--white);
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;

}
.articlecard__buttonline {
    max-width: fit-content;

}
.articlecard__buttontext {
    text-decoration: none;
    color: var(--black);
    font-size: var(--button);
    font-weight: var(--semi-bold);
}