.carrousel {
  position: relative;
  margin: 1rem 0;
}

.carrousel__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carrousel__top-display {
  display: flex;
  width: 100%;
  gap: 1rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.carrousel__display {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
}

.carrousel_btn {
  position: absolute;
  top: 45%;
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
}

.carrousel_btn--left {
  left: 5px;
}

.carrousel_btn--right {
  right: 5px;
}

.arrow--left {
  padding-right: 4px;
}

.arrow--right {
  padding-left: 4px;
}

.carrousel__display__title {
  text-align: center;
  font-size: var(--legend);
  padding: 5px;
}

.caroussel__link {
  color: var(--white);
}

.actif {
  color: var(--purple);
  transition: all 0.3s ease-out 0.1s;
}