.form {
    margin: 10%;
}
.form__title {
    padding:5px;
    margin-top: 20px;
    font-size: var(--form);
    font-weight: 600;
}

input, textarea {
padding: 0.5rem;
border-radius: 5px;
width: 100%;
max-height: min-content;
border: 2px solid var(--green);
}

textarea {
    height: 10em;
}

.form__button {
    align-items: center;
    justify-content: center;
    color: var(--black);
    border-radius: 5px;
    font-family: var(--font-bold);
    font-size: var(--button);
    background-color: var(--green);
    height: 35px;
    margin-top: 15px;
}

input::placeholder, textarea::placeholder {
    color: var(--blue);
    font-family: var(--font-sans-serif);
    font-weight: 500;
}

input:focus, textarea:focus {
    outline: 3px solid var(--green);
}

