.mainarticle {
    margin: 50px 0px;
}

.mainarticle__title {
    height: 64px;
    font-family: var(--font-bold);
    font-size: var(--pagetitle);
    text-align: right;
    padding: 15px;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

.mainarticle__block {
    margin: -20px 0 0 4%;
    max-width: 96%;
    background-color: var(--black);
    padding: 20px;
    border-radius:25px 0px 0px 25px;
    display: flex;
}

.mainarticle__img {
    width: 30%;
    height: 30%;
    border-radius: 15%;
    float: left;
    margin-right: 3.75%;
}

.mainarticle__text-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainarticle__text {
    font-weight: var(--light);
    font-size: var(--body);
}


.mainarticle__button{
    display: flex;
    text-align: center;
    gap: 5px;
    max-width:fit-content;
    background-color: var(--white);
    cursor: pointer;
    padding: 3px;
    border-radius: 2px;
    align-items: center;

}

.mainarticle__buttonline {
    max-width: fit-content;
}

.mainarticle__buttontext {
    text-decoration: none;
    color: var(--black);
    font-size: var(--button);
    font-weight: var(--semi-bold);
}