.mainarticle {
 max-height: 289px;
}

.mainarticle__title {
    font-family: var(--font-bold);
    font-size: var(--pagetitle);
    text-align: right;
    padding: 15px;
    color: var(--black);
    background-color: var(--white);

}

.mainarticle__block {
    max-height: 250px;
    max-width: 360px;
    margin-right: 0;
    background-color: var(--black);
    padding: 20px;
    border-radius:25px 0px 0px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.mainarticle img {
    /* position: relative;
    align-self: center; */
    width: 20%;
    height: 20%;
    border-radius: 15%;
}

.mainarticle__text {

    /* display: flex;
    justify-content: space-between;

    background-color: var(--black);
    padding: 20px;
    border-radius:25px 0px 0px 25px;
    width: 100%;
    justify-content: right;
    margin-left: 10%;
    align-self: center;
    font-weight: 300;
    font-size: var(--body); */
}



.mainarticle__link {
    position: relative;
    top: 10%;
} */
