.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  text-decoration: none;
  z-index: 2;
}

.header__menubtn {
  position: relative;
  z-index: 10;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.menu__list {
padding: 0px 20px;
}

.menu__list > li{
  font-family: var(--font-bold);
  margin: 35px 0px;
}

.menu__list a:hover {
    cursor: pointer;
    color: var(--white);
}

.menu__list-articles {
  padding: 0px 15px;
}


.menu__item {
  color: var(--purple);
  font-size: var(--menu);
}

.menu__article {
  margin: 25px 0px;
}

.menu__article-link {
  color: var(--green);
  font-size: var(--menu2);
}

.menu__item--inactive {
  cursor: none;
}

.menu__language {
  margin-top: 75px;
  margin-right: 25px;
}

.menu__language, .menu__language__link {
  font-family: var(--font-bold);
  color: var(--white);
  font-size: var(--title);
  text-align: right;
}
.menu__language__icon {
  margin: 10px;
  margin-top: 3px;
  vertical-align:middle;
}

.header__flextitles--menu {
  max-height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  margin-bottom: 50px;
}

.header__maintitle--menu {
  font-size: var(--title);
  font-family: var(--font-bold);
  text-decoration: none;
  color: var(--black);
  background-color: var(--purple);
  border-radius: 0px 25px 25px 0px;
  padding: 9.5px;
  z-index: 1;
}

.header__pagetitle--menu {
  width: 100%;
  font-size: var(--pagetitle);
  font-family: var(--font-bold);
  color: var(--black);
  background-color: var(--white);
  z-index: 0;
  text-align: center;

}
