.other-projects {
    margin: 30px 10%;
}

.other-projects__text {
    font-family: var(--font-sans-serif);
    font-size: var(--h2);
    font-weight: var(--bold);
    margin-bottom: 2rem;
}

.other-projects__list {
    padding: 0;

}

.other-projects__item {
    font-family: var(--font-sans-serif);
        font-size: var(--h3);
        font-weight: var(--regular);
            margin-bottom: 1rem;

}
.other-projects__links {
 color: var(--green);
}

.laserbeam {
    background-color: var(--black);
    height: 25px;
    width: 100%;
    overflow: hidden;
}

.fromhell {
    background-color: var(--purple);
    background-image: radial-gradient(circle 10px, var(--black), rgb(100 50 160) 50%, var(--purple) 85%, var(--black));
    height: 100%;
    width: 25px;

    -webkit-animation: 8s linear 0s infinite animation;
    animation: 8s linear 0s infinite animation;
}

@-webkit-keyframes animation {
    from {
        margin-left: -75%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes animation {
    from {
        margin-left: -75%;
    }

    to {
        margin-left: 100%;
    }
}




.display-none {
    display: none;
}