/* ABOUT PAGE */

.about {
    margin: 30px 10%;
}

.about__visual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.about__visual__text {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.about__visual__img {
    width: 50%;
    margin: 0;
}

.about__quote {
    color: var(--green);
    font-weight: var(--semi-bold);
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.about__quote-caption {
    font-weight: var(--semi-bold);
    font-size: 0.625rem;
}

.about__text {
    margin-bottom: 1rem;
    text-indent: 1em;
}

.about__gradient {
    background-image: linear-gradient(to bottom, var(--black), #222222);
    border-radius: 15px;
    padding: 0 3%;
    padding-bottom: 1rem;
}


/* OTHER PROJECTS PAGE*/

.other-projects {
    margin: 30px 10%;
}

.other-projects__list {
    padding: 0;
    margin-top: 2rem;

}

.other-projects__item {
    font-family: var(--font-sans-serif);
    font-size: var(--h3);
    font-weight: var(--regular);
    margin-bottom: 1rem;

}

.other-projects__links {
    color: var(--green);
    font-weight: var(--regular);
}

.animation {
    background-color: var(--black);
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.animation__1 {
    background-image: linear-gradient(90deg, var(--black), var(--purple) 85%, var(--black));
    height: 33%;
    -webkit-animation: 4s linear 0s infinite alternate animation;
    animation: 4s linear 0s infinite alternate animation;
}

.animation__2 {
    background-image: linear-gradient(90deg, var(--black), var(--purple) 85%, var(--black));
    height: 33%;
    -webkit-animation: 4s linear 0.2s infinite alternate animation;
    animation: 4s linear 0.2s infinite alternate animation;
}

.animation__3 {
    background-image: linear-gradient(90deg, var(--black), var(--purple) 85%, var(--black));
    height: 33%;
    -webkit-animation: 4s linear 0.4s infinite alternate animation;
    animation: 4s linear 0.4s infinite alternate animation;
}

.display-none {
    display: none;
}

@-webkit-keyframes animation {
    from {
        margin-left: -75%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes animation {
    from {
        margin-left: -75%;
    }

    to {
        margin-left: 100%;
    }
}

/* GLOSSARY */

.glossary__title {
    color: var(--green);
    line-height: 2;
    margin-bottom: 2rem;
    font-family: var(--font-bold);
    text-transform: uppercase;
    font-size: var(--h1);
}

.glossary__list {
    margin-bottom: 30px;

}

.glossary__term {
    font-size: var(--h2);
    font-weight: var(--bold);
    margin-bottom: 0.5rem;
}

.glossary__term:target {
    padding-top: 9rem;
    margin-top: -9rem;
}

.glossary__def {
    margin-bottom: 1.5rem;
}


/* FILMOGRAPHY */

.filmo__details {
    padding: 0;
}

.filmo__actors {
    margin-bottom: 2rem;
}